<mat-nav-list>
    <div class="logo py-4">
      <img src="./assets/Test.png" alt="Test Logo" />
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/admin-dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item  routerLinkActive="list-item-active" routerLink="/about"> 
        <mat-icon>stars</mat-icon>  About 
    </a>
    <a mat-list-item  routerLinkActive="list-item-active" routerLink="/starttest"> 
        <mat-icon>stars</mat-icon>  Start Test 
    </a>
    <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a>
  </mat-nav-list>
  

 

