:host {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  // mat-drawer {
  //   width: 260px;
  // }
  mat-drawer-container {
    height: 100%;
  }
  
  mat-drawer-content {
    background: rgba(0,87,184,255)
  }
  